.dark-btn,
.light-btn {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}

.dark-btn {
    background-color: #000;
    color: #fff;
}

.light-btn {
    background-color: yellow;
}
