body {
    font-family: sans-serif;
    background: #eee;
}

.card {
    width: 400px;
    margin: 16px auto;
    padding: 8px;
    background: #fff;
}

.title {
    font-size: 16px;
    margin-bottom: 12px;
    padding: 8px;
    background: #e3f4ff;
}

.content {
    margin-bottom: 12px;
    padding: 16px 8px;
    background: #e3f4ff;
}

.button-container {
    padding: 8px;
    text-align: center;
    background: #e3f4ff;
}

button {
    display: block;
    margin: 0 auto;
    padding: 8px 24px;
    border: 1px solid #eee;
    background: white;
}